@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./Global";
@import "./Navbar";
@import "./Hero";
@import "./Popular";
@import "./Text";
@import "./Like";
@import "./Insta";
@import "./Features";
@import "./Footer";
@import "./Single";
@import "./Products";
@import "./Cart";

section.loading {
  position: relative;
  height: 500px;
  margin-top: 250px;
  margin-bottom: -250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  width: 58px;
  height: 58px;
  border: 5px dotted $color_sky;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 5px dotted $color_wood;
    border-style: solid solid dotted;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}

.loading.page {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #eee;
}
