@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./Global";
@import "./Navbar";
@import "./Hero";
@import "./Popular";
@import "./Text";
@import "./Like";
@import "./Insta";
@import "./Features";
@import "./Footer";
@import "./Single";
@import "./Products";

.products-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  .product-list {
    display: flex;
    gap: 30px;
    img {
      width: 40%;
      height: 200px;
      object-fit: cover;
    }
    .info {
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 5px;
      a {
        font-size: 18px;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
      h4 {
        color: $color_wood;
      }
      p {
        font-size: 14px;
      }
      button {
        background-color: $color_wood;
        color: $color_white;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 10px;
        &:hover {
          background-color: $color_sky;
        }
      }
    }
  }
}
